 .image-to-show {
     position: relative;
     top: 20px;
     margin: auto;
     width: 400px;
     height: 400px;
 }

 .images-wrapper {
    
      display: flex;
     flex-wrap: wrap; 
     justify-content: space-between;
 }

 .hide {
     display: none;
 }
 .btn {
     position: relative;
     left: 30px;
     margin-top: 20px;
     margin-left: 20;
     
      padding: 15px;
      border: 1px solid rgb(32, 15, 15);
      background: rgb(170, 157, 150);
      color: rgb(31, 17, 17);
      font-size: 15px;
      
      font-weight: bold;
      border-radius: 5px;
      outline: none;
      cursor: pointer;

 }
 .buttons{
     
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-top: 10px;
   
 }